body {
    background-image: url("https://image.freepik.com/free-photo/grey-carpet-for-background_1339-7412.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-top: 40px;
    margin-bottom: 40px
}

h3 {
    font-family: 'Roboto';
    margin-left: 70px; //
}

h4 {
    font-family: 'Roboto';
    margin-left: 70px; //
}

h5 {
    font-family: 'Roboto';
}

.inline {
    display: inline-table;
    padding-left:5px;
}

.numberInput {
    margin-left: 70px; //
}

.submitButton {
    top: 85%;
    left: 50%;
    margin: -100px 0 0 -75px;
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255,255,255,0.1);
    border-style: none;
}

.submitButtonImage {
    top: 67.5%;
    left: 50%;
    margin: -100px 0 0 -75px;
    position: absolute;
    width: 150px;
    height: 150px;
}

.header {
    font-family: 'Swistblnk Monthoers';
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.howToPlay {
    margin-left: 70px; //
}

.compassButtons {
    text-align: center;
    padding-bottom: 25px;
}

.dirtHooveredCounter {
    text-align: center;
}

.parentOfCleanTileWithImageInside {
    position: relative;
}

.cleanTile {
    position: absolute;
    bottom: 1px
}

.imageOnTile {
    position: relative;
    height: 90px;
    width: 90px;
    left: 5px;
}

.alignPageContent {
    margin-left: 190px;
    width: 900px;
    background: rgba(255,255,255,0.6);
}